body {
    font-family: "Nunito Sans";
    }
    .btn-primary {
    height: 48px;
    font-size: 20px;
    }
    .btn-facebook {
    background: #425f9c;
    color: #fff;
    }
    .btn-google {
    background: #3D7AFC;
    color: #fff;
    }
    .btn-google:hover,
    .btn-facebook:hover {
    color: #fff;
    }
    .fa {
    float: left;
    font-size: 28px;
    }
    #signupForm{
      display: none;
    }